<div class="customer-outer">

  <div class="btn-outer">
    <button mat-raised-button routerLink="/console/vehicle/all">All</button> |
    <button mat-raised-button color="accent" routerLink="/console/vehicle/find">Find</button> |
    <button mat-raised-button color="primary" routerLink="/console/vehicle/new">New</button> |
    <button mat-raised-button color="warn" routerLink="/console/vehicle/delete">Delete</button> |
    <button mat-raised-button color="primary" routerLink="/console/vehicle/update">Update</button>
  </div>

  <div class="router-inner">
    <router-outlet></router-outlet>
  </div>

</div>
