<div class="customer-outer">
  <form action="">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <mat-form-field class="col-12"  appearance="outline">
            <mat-label>email</mat-label>
            <input matInput placeholder="search here....." [(ngModel)]="searchId" (keyup.enter)="loadData()">
          </mat-form-field>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <mat-form-field  class="full-width"   appearance="outline">
            <mat-label>Id</mat-label>
            <input  disabled  matInput placeholder="Id" >
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <mat-form-field  class="full-width"   appearance="outline">
            <mat-label>Username</mat-label>
            <input    matInput placeholder="Username" >
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <mat-form-field  class="full-width"   appearance="outline">
            <mat-label>password</mat-label>
            <input   matInput placeholder="Password" >
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <mat-form-field  class="full-width"   appearance="outline">
            <mat-label>Nic</mat-label>
            <input    matInput placeholder="Nic" >
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <mat-form-field  class="full-width"   appearance="outline">
            <mat-label>Dob</mat-label>
            <input    matInput placeholder="Dob" >
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Gender</mat-label>
            <select  matNativeControl required>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <mat-form-field  class="full-width"   appearance="outline">
            <mat-label>Contact 1</mat-label>
            <input   matInput placeholder="Contact 1" >
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <mat-form-field  class="full-width"   appearance="outline">
            <mat-label>Contact 2</mat-label>
            <input    matInput placeholder="Contact 2" >
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <mat-form-field  class="full-width"   appearance="outline">
            <mat-label>Email</mat-label>
            <input     matInput placeholder="Email" >
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <mat-form-field  class="full-width"   appearance="outline">
            <mat-label>Address</mat-label>
            <input   matInput placeholder="Address" >
          </mat-form-field>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <h3>Profile Image</h3>
          <div class="img-g">
            <img src="" alt="" id="profilePic-img-show"> <br><br>
            <input type="file" id="profilePic" name="profilePic" class="form-control"
                   placeholder="Profile Image" >
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <h3>NicFront</h3>
          <div class="img-g">
            <img src="" alt="" id="nicFront-img-show"> <br><br>
            <input type="file" id="nicFront" name="nicFront" class="form-control"
                   placeholder="Nic Front" >
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <h3>NicRear</h3>
          <div class="img-g">
            <img src="" alt="" id="nicRear-img-show"> <br><br>
            <input type="file" id="nicRear" name="nicRear" class="form-control"
                   placeholder="Nic Rear" >
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-12 " style="display: flex;justify-content: flex-end">
          <button mat-raised-button color="primary" >Update customer</button>
        </div>
      </div>-->
    </div>
  </form>
  <br>
  <br>
</div>





