<div class="container " style="padding: 20px">
  <div class="row">
    <table class="table table hover col-12 col-sm-6 col-md-4 col-lg-3">
      <thead>
      <tr>
        <th>Id</th>
        <th>Brand</th>
        <th>Category</th>
        <th>Type</th>
        <th>Hybrid</th>
        <th>FuelType</th>
        <th>Transmission</th>
        <th>PriceFor1Km</th>
        <th>PriceFor100Km</th>
        <th>SeatCapacity</th>
        <th>Qty</th>
        <th>Option</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let tempData of list">
        <td>{{tempData.vehicleId}}</td>
        <td>{{tempData.vehicleBrand}}</td>
        <td>{{tempData.vehicleCategory}}</td>
        <td>{{tempData.vehicleType}}</td>
        <td>{{tempData.vehicleHybrid}}</td>
        <td>{{tempData.vehicleFuelType}}</td>
        <td>{{tempData.vehicleTransmission}}</td>
        <td>{{tempData.vehiclePriceFor1Km}}</td>
        <td>{{tempData.vehiclePriceFor100Km}}</td>
        <td>{{tempData.vehicleSeatCapacity}}</td>
        <td>{{tempData.vehicleQty}}</td>
        <td>
         <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="findId(tempData.vehicleId)">
            image
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Images</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container" style="width: 100%;height: 400px;display: flex;align-items: center;justify-content: center;flex-direction: row" *ngFor="let temData of list2">
          <img src="data:image/jpeg;base64,{{temData.vehicleImages[0]}}" alt="" style="width: 30%;height: 40%"> | &nbsp;
          <img src="data:image/jpeg;base64,{{temData.vehicleImages[1]}}" alt="" style="width: 30%;height: 40%"> | &nbsp;
          <img src="data:image/jpeg;base64,{{temData.vehicleImages[2]}}" alt="" style="width: 30%;height: 40%"> | &nbsp;
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>



