
<div class="customer-outer">

  <div class="btn-outer">
    <button mat-raised-button routerLink="/console/customer/all">All</button> |
    <button mat-raised-button color="accent" routerLink="/console/customer/find">Find</button> |
    <button mat-raised-button color="primary" routerLink="/console/customer/new">New</button> |
    <button mat-raised-button color="warn" routerLink="delete">Delete</button> |
    <button mat-raised-button color="primary" routerLink="update">Update</button>
  </div>

  <div class="router-inner">
    <router-outlet></router-outlet>
  </div>

</div>

