<div class="header-outer">
  <div class="header-inner">
    <div class="inner-wrapper">
      <div class="container">
        <div class="col-12">
        </div>
        <div class="col-12">
          <div class="form-group">
            <input type="search" class="form-control " placeholder="search...." >
          </div>
        </div>
      </div>
    </div>
    <div class="inner-wrapper">
      <img src="../../../../../../../assets/logo/nextTravel%20Logo.png" alt="">
    </div>
    <div class="inner-wrapper">
      <img src="https://cdn-icons-png.flaticon.com/512/2206/2206368.png" alt="">
      <button mat-raised-button (click)="show()" id="show_button">
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>
  </div>
  <div class="mb-outer" id="box">
    <div>
      <button mat-raised-button (click)="hide()"   >
        <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>
    <div class="button-outer">
      <li routerLink="/console/home"> Home</li>
      <li routerLink="/console/customer">Customer</li>
      <li routerLink="/console/vehicle">Vehicle</li>
      <li >Hotel</li>
      <li routerLink="/console/driver">Driver</li>
      <li >Guide</li>
      <li >Travel Package</li>


    </div>
  </div>
</div>

